CONFIG = {                                                                      
    # 'mode': 'wsgi',                                                           
    'working_dir': '/home/box/web/',                                 
    'args': (                                                                   
        '--bind= :8080',                                              
        '--workers=16',                                                         
        '--timeout=60',
        '--name=guni_hello'                                                       
    ),                                                                          
}        
